## 1. Data Types

In [1]:
import pandas as pd
retail = pd.read_csv('retailsmall.csv')
retail.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [2]:
retail.tail()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
2075,554325,22908,PACK OF 20 NAPKINS RED APPLES,12.0,5/23/2011 15:38,0.85,12621.0,Germany
2076,554325,22326,ROUND SNACK BOXES SET OF4 WOODLAND,12.0,5/23/2011 15:38,2.95,12621.0,Germany
2077,554325,22328,ROUND SNACK BOXES SET OF 4 FRUITS,12.0,5/23/2011 15:38,2.95,12621.0,Germany
2078,554325,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,12.0,5/23/2011 15:38,2.55,12621.0,Germany
2079,554325,79191C,RETRO PLASTIC ELEPHANT TRAY,12.0,5/23/2011 15:38,NaN,12621.0,Germany

In [3]:
retail.shape

(2080, 8)

In [4]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      2080 non-null   int64
 1   StockCode    2080 non-null   object
 2   Description  2073 non-null   object
 3   Quantity     2062 non-null   float64
 4   InvoiceDate  2080 non-null   object
 5   Price        2065 non-null   float64
 6   Customer ID  2078 non-null   float64
 7   Country      2072 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 130.1+ KB

In [7]:
# Acees directly to DType --->  retail.dtypes
retail.dtypes
# retail.Invoice.dtypes

Invoice          int64
StockCode       object
Description     object
Quantity       float64
InvoiceDate     object
Price          float64
Customer ID    float64
Country         object
dtype: object

In [8]:
retail['Customer ID'] = retail['Customer ID'].astype('str')
retail['Country'] = retail['Country'].astype('category')

In [9]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      2080 non-null   int64
 1   StockCode    2080 non-null   object
 2   Description  2073 non-null   object
 3   Quantity     2062 non-null   float64
 4   InvoiceDate  2080 non-null   object
 5   Price        2065 non-null   float64
 6   Customer ID  2080 non-null   object
 7   Country      2072 non-null   category
dtypes: category(1), float64(2), int64(1), object(4)
memory usage: 116.1+ KB

In [10]:
retail.Country.cat.categories

Index(['Australia', 'France', 'Germany', 'Netherlands', 'USA',
       'United Kingdom'],
      dtype='object')

In [11]:
retail.Country.cat.codes

0       5
1       5
2       5
3       5
4       5
       ..
2075    2
2076    2
2077    2
2078    2
2079    2
Length: 2080, dtype: int8

In [12]:
retail.Country.cat.codes.tail(8)

2072    2
2073    2
2074   -1
2075    2
2076    2
2077    2
2078    2
2079    2
dtype: int8

In [13]:
retail.tail(8)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
2072,554325,23208,LUNCH BAG VINTAGE LEAF DESIGN,20.0,5/23/2011 15:38,1.65,12621.0,Germany
2073,554325,23209,LUNCH BAG DOILEY PATTERN,20.0,5/23/2011 15:38,1.65,12621.0,Germany
2074,554325,21078,SET/20 STRAWBERRY PAPER NAPKINS,12.0,5/23/2011 15:38,0.85,12621.0,NaN
2075,554325,22908,PACK OF 20 NAPKINS RED APPLES,12.0,5/23/2011 15:38,0.85,12621.0,Germany
2076,554325,22326,ROUND SNACK BOXES SET OF4 WOODLAND,12.0,5/23/2011 15:38,2.95,12621.0,Germany
2077,554325,22328,ROUND SNACK BOXES SET OF 4 FRUITS,12.0,5/23/2011 15:38,2.95,12621.0,Germany
2078,554325,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,12.0,5/23/2011 15:38,2.55,12621.0,Germany
2079,554325,79191C,RETRO PLASTIC ELEPHANT TRAY,12.0,5/23/2011 15:38,NaN,12621.0,Germany

## 2. Rename columns

In [14]:
retail.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer ID', 'Country'],
      dtype='object')

In [15]:
# Renaming all columns
retail.columns = ['Invoice', 'StockCode', 'Description', 'Quantity', 'Invoice_Date',
                  'Price', 'Customer_ID','Country']
retail.head()

,Invoice,StockCode,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [16]:
# Renaming one specific Column
retail = retail.rename(columns={'StockCode':'Stock_Code'})
retail.head()

# Another way: 
# retail.rename(columns={'StockCode':'Stock_Code'}, inplace=True)

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,12/1/2009 7:45,1.25,13085.0,United Kingdom

In [17]:
# Some Khoshgelization
retail.Description = retail.Description.str.title()
retail.head()

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,489434,85048,15Cm Christmas Glass Ball 20 Lights,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,Pink Cherry Lights,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,White Cherry Lights,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"Record Frame 7"" Single Size",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
4,489434,21232,Strawberry Ceramic Trinket Box,24.0,12/1/2009 7:45,1.25,13085.0,United Kingdom

## 2. Missing Values
### 2.1. How many values are missed

In [18]:
retail.isnull()

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2075,False,False,False,False,False,False,False,False
2076,False,False,False,False,False,False,False,False
2077,False,False,False,False,False,False,False,False
2078,False,False,False,False,False,False,False,False
2079,False,False,False,False,False,True,False,False

In [19]:
retail.isnull().sum()

Invoice          0
Stock_Code       0
Description      7
Quantity        18
Invoice_Date     0
Price           15
Customer_ID      0
Country          8
dtype: int64

In [20]:
retail.isna().sum().sum()

48

In [21]:
a = retail.isna().sum().sum()
b = retail.shape[0] * retail.shape[1]
null_percent = (a/b) 
print(f'{null_percent:.2%} of data set is null')

0.29% of data set is null

### 2.2. Determine rows of missing values

In [24]:
all_null = retail.isnull()
all_null

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,True,False,False,False,False
3,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
2075,False,False,False,False,False,False,False,False
2076,False,False,False,False,False,False,False,False
2077,False,False,False,False,False,False,False,False
2078,False,False,False,False,False,False,False,False
2079,False,False,False,False,False,True,False,False

In [26]:
null_rows = all_null.any(axis=1)
null_rows

# null_col = all_null.any(axis=0)
# null_col

0        True
1       False
2        True
3        True
4       False
        ...
2075    False
2076    False
2077    False
2078    False
2079     True
Length: 2080, dtype: bool

In [28]:
null_rows.sum()
# retail.isnull().any(axis=1).sum()

47

In [29]:
retail_null_rows = retail[null_rows]
retail_null_rows

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
0,489434,85048,15Cm Christmas Glass Ball 20 Lights,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
2,489434,79323W,White Cherry Lights,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"Record Frame 7"" Single Size",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
6,489434,21871,Save The Planet Mug,NaN,12/1/2009 7:45,1.25,13085.0,United Kingdom
22,489436,22194,Black Diner Wall Clock,2.0,12/1/2009 9:06,NaN,13078.0,United Kingdom
24,489436,82582,Area Patrolled Metal Sign,12.0,12/1/2009 9:06,2.10,13078.0,NaN
25,489436,21181,Please One Person Metal Sign,12.0,12/1/2009 9:06,2.10,13078.0,NaN
35,489437,21360,Joy Large Wood Letters,NaN,12/1/2009 9:08,9.95,15362.0,United Kingdom
36,489437,21351,Cinammon & Orange Wreath,NaN,12/1/2009 9:08,6.75,15362.0,United Kingdom
37,489437,21352,Eucalyptus & Pinecone Wreath,NaN,12/1/2009 9:08,6.75,15362.0,United Kingdom
38,489437,35400,Wooden Box Advent Calendar,NaN,12/1/2009 9:08,8.95,15362.0,United Kingdom
468,489522,20676,NaN,1.0,12/1/2009 11:45,1.25,15998.0,United Kingdom
516,489526,21498,NaN,25.0,12/1/2009 11:50,0.42,12533.0,Germany
552,489526,21788,NaN,24.0,12/1/2009 11:50,0.85,12533.0,Germany
601,489529,21500,NaN,25.0,12/1/2009 11:51,0.42,17984.0,United Kingdom
719,489536,20677,NaN,1.0,12/1/2009 12:13,1.25,16393.0,United Kingdom
720,489536,20675,NaN,1.0,12/1/2009 12:13,1.25,16393.0,United Kingdom
911,489545,22274,NaN,1.0,12/1/2009 12:22,2.95,17804.0,United Kingdom
938,533336,22390,Paperweight Childhood Memories,12.0,11/16/2010 18:10,2.55,12714.0,NaN
947,533336,22450,Silk Purse Babushka Blue,NaN,11/16/2010 18:10,3.35,12714.0,France
957,533336,22398,Magnets Pack Of 4 Swallows,NaN,11/16/2010 18:10,1.25,12714.0,France
958,533336,22402,Magnets Pack Of 4 Vintage Collage,NaN,11/16/2010 18:10,1.25,12714.0,France
1021,553547,21239,Pink Polkadot Cup,NaN,5/17/2011 15:48,0.85,12474.0,Germany
1022,553547,22629,Spaceboy Lunch Box,NaN,5/17/2011 15:48,1.95,12474.0,Germany
1356,556917,23307,Set Of 60 Pantry Design Cake Cases,240.0,6/15/2011 13:37,NaN,12415.0,Australia
1357,556917,23308,Set Of 60 Vintage Leaf Cake Cases,120.0,6/15/2011 13:37,NaN,12415.0,Australia
1367,556917,21976,Pack Of 60 Mushroom Cake Cases,NaN,6/15/2011 13:37,0.42,12415.0,Australia
1372,556917,23159,Set Of 5 Pancake Day Magnets,NaN,6/15/2011 13:37,1.85,12415.0,Australia
1384,556917,21539,Red Retrospot Butter Dish,NaN,6/15/2011 13:37,4.95,12415.0,Australia
1447,556917,22417,Pack Of 60 Spaceboy Cake Cases,120.0,6/15/2011 13:37,NaN,12415.0,Australia
1452,556917,22546,Mini Jigsaw Purdey,24.0,6/15/2011 13:37,NaN,12415.0,Australia
1453,556917,21915,Red Harmonica In Box,240.0,6/15/2011 13:37,NaN,12415.0,Australia
1485,558536,23101,Silver Stars Table Decoration,12.0,6/30/2011 12:06,NaN,12424.0,Australia
1486,558536,85152,Hand Over The Chocolate Sign,12.0,6/30/2011 12:06,NaN,12424.0,Australia
1529,560033,22600,Christmas Retrospot Star Wood,12.0,7/14/2011 13:28,NaN,12388.0,Australia
1530,560033,22478,Birdhouse Garden Marker,10.0,7/14/2011 13:28,NaN,12388.0,Australia
1590,560491,21917,Set 12 Kids White Chalk Sticks,1.0,7/19/2011 10:51,0.42,12415.0,NaN
1591,560491,21843,Red Retrospot Cake Stand,1.0,7/19/2011 10:51,10.95,12415.0,NaN
1597,560491,23240,Set Of 4 Knick Knack Tins Doiley,1.0,7/19/2011 10:51,4.15,12415.0,NaN
1862,554104,20719,Woodland Charlotte Bag,NaN,5/22/2011 14:03,0.85,12705.0,Germany
1863,554104,22355,Charlotte Bag Suki Design,NaN,5/22/2011 14:03,0.85,12705.0,Germany
1864,554104,15036,Assorted Colours Silk Fan,NaN,5/22/2011 14:03,0.83,12705.0,Germany
2043,554106,22531,Magic Drawing Slate Circus Parade,24.0,5/22/2011 14:05,NaN,12710.0,Germany
2068,554263,21086,Set/6 Red Spotty Paper Cups,12.0,5/23/2011 12:32,NaN,12474.0,Germany
2071,554325,23206,Lunch Bag Apple Design,30.0,5/23/2011 15:38,NaN,12621.0,NaN
2074,554325,21078,Set/20 Strawberry Paper Napkins,12.0,5/23/2011 15:38,0.85,12621.0,NaN
2079,554325,79191C,Retro Plastic Elephant Tray,12.0,5/23/2011 15:38,NaN,12621.0,Germany

In [30]:
retail.Description.isnull()

0       False
1       False
2       False
3       False
4       False
        ...
2075    False
2076    False
2077    False
2078    False
2079    False
Name: Description, Length: 2080, dtype: bool

In [31]:
retail.loc[retail.Description.isnull()]

,Invoice,Stock_Code,Description,Quantity,Invoice_Date,Price,Customer_ID,Country
468,489522,20676,NaN,1.0,12/1/2009 11:45,1.25,15998.0,United Kingdom
516,489526,21498,NaN,25.0,12/1/2009 11:50,0.42,12533.0,Germany
552,489526,21788,NaN,24.0,12/1/2009 11:50,0.85,12533.0,Germany
601,489529,21500,NaN,25.0,12/1/2009 11:51,0.42,17984.0,United Kingdom
719,489536,20677,NaN,1.0,12/1/2009 12:13,1.25,16393.0,United Kingdom
720,489536,20675,NaN,1.0,12/1/2009 12:13,1.25,16393.0,United Kingdom
911,489545,22274,NaN,1.0,12/1/2009 12:22,2.95,17804.0,United Kingdom

### 2.3. Fill and Replace missing values

In [ ]:
retail.Description.fillna('BAAGHALI',inplace=True)
retail.loc[retail.Description.isnull()]

In [ ]:
retail.loc[[601,719,720]]

In [ ]:
# How many Columns with at least 1 null value
retail.isnull().any()
null_rows = retail.isnull().any()
null_rows.sum()

In [ ]:
# How many Rows with at least 1 null value
retail.isnull().any(axis=1)
null_rows = retail.isnull().any(axis=1)
null_rows.sum()

In [ ]:
retail.fillna(method='ffill')

# retail = retail.fillna(method='ffill')
# retail.fillna(method='ffill',inplace = True)

In [ ]:
retail.fillna(method='bfill')

# retail = retail.fillna(method='bfill')
# retail.fillna(method='bfill',inplace = True)

In [ ]:
retail.Quantity.mean(),retail.Price.median()

In [ ]:
retail.Price.fillna(retail.Price.median())
retail.Quantity.fillna(retail.Quantity.mean())

In [ ]:
retail.Price.fillna(retail.Price.median(),inplace=True)
retail.Quantity.fillna(retail.Quantity.mean(),inplace=True)

In [ ]:
null_rows = retail.isnull().any(axis=1)
null_rows.sum()

In [ ]:
retail[null_rows]

In [ ]:
retail.fillna(method='bfill',inplace = True)

In [ ]:
null_rows = retail.isnull().any(axis=1)
null_rows.sum()

In [ ]:
# retail.Description.replace('BAAGHALI','Fendel')

retail.Description.replace('BAAGHALI','Fendel',inplace=True)

In [ ]:
retail.loc[[601,719,720]]

In [ ]:
retail.to_csv('retailsmall_Nomissing.csv')

### 2.4. Drop missing and duplicated values

In [ ]:
retail = pd.read_csv('retailsmall.csv')
retail

In [ ]:
retail.dropna()
# retail.dropna(inplace = True)

In [ ]:
retail.shape

In [ ]:
retail.dropna(how='all')

In [ ]:
retail.dropna(axis = 1)

In [ ]:
retail.duplicated()

In [ ]:
retail.duplicated().sum()

In [ ]:
dups = retail.duplicated(keep = False) 
dups_retail = retail[dups]
dups_retail.reset_index(inplace=True)

In [ ]:
dups_retail[0:20]

In [ ]:
retail.drop_duplicates(inplace=True)

In [ ]:
retail.shape

### 2.5. Drop specified Rows and Columns

In [ ]:
retail = pd.read_csv('retailsmall.csv')
retail

In [ ]:
# drop Specific rows
retail.drop([0,2,2079])

In [ ]:
# drop selected rows
retail.drop(retail.index[-4:])
retail.drop(retail.index[2:100])

In [ ]:
# Drop specific columns
retail.drop('Description',axis = 1)
retail.drop(['Description','StockCode'],axis = 1)

In [ ]:
# Drop selected columns
retail.drop(retail.columns[2:4],axis = 1)

In [ ]:
retail.drop(retail.columns[[0,5,7]],axis = 1)

In [ ]:
retail.shape

In [ ]:
# Be carfull to use df.pop() 
retail.pop('Description')
retail.shape