## 1. Review

In [1]:
import pandas as pd
retail = pd.read_csv('retailsmall.csv')
# retail.head()

In [ ]:
retail.info()

In [ ]:
retail.describe()

In [ ]:
retail['Customer ID'] = retail['Customer ID'].astype('str')

In [ ]:
retail.info()

In [ ]:
retail.describe()

In [ ]:
retail.describe(include='all')

## 2. Conditional Selection

In [ ]:
retail.Country.value_counts()
#retail['Country'].value_count()

In [ ]:
retail.Country == 'United Kingdom'

In [ ]:
retail[retail.Country == 'United Kingdom']

In [ ]:
retail.loc[retail.Country == 'United Kingdom',['Quantity','Price']]

In [ ]:
retail.loc[retail.Country == 'United Kingdom']

In [ ]:
# (retail.Country == 'United Kingdom') & (retail.Price >= 2)
retail.loc[(retail.Country == 'United Kingdom') & (retail.Price >= 2)]

In [ ]:
retail.Price.mean()

In [ ]:
retail.loc[(retail.Country == 'United Kingdom') & (retail.Price >= retail.Price.mean())]

In [ ]:
retail.loc[(retail.Country == 'United Kingdom') | (retail.Price >= retail.Price.mean())]

In [ ]:
# retail.Country == 'United Kingdom'
# retail.Country.isin(['United Kingdom','Germany'])

retail.loc[retail.Country.isin(['United Kingdom','Germany'])]

In [ ]:
retail.loc[retail.Description.notnull()]

In [ ]:
retail.loc[retail.Description.isnull()]

In [ ]:
retail.loc[retail.Quantity < 0,]

In [ ]:
retail.loc[retail.Price < 0]

## 3. Groupwise Analysis

In [16]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Invoice      2080 non-null   int64
 1   StockCode    2080 non-null   object
 2   Description  2073 non-null   object
 3   Quantity     2062 non-null   float64
 4   InvoiceDate  2080 non-null   object
 5   Price        2065 non-null   float64
 6   Customer ID  2078 non-null   float64
 7   Country      2072 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 130.1+ KB

In [3]:
retail.groupby(by = 'Country').head(3)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
71,489439,22065,CHRISTMAS PUDDING TRINKET POT,12.0,12/1/2009 9:28,1.45,12682.0,France
72,489439,22138,BAKING SET 9 PIECE RETROSPOT,9.0,12/1/2009 9:28,4.95,12682.0,France
73,489439,22139,RETRO SPOT TEA SET CERAMIC 11 PC,9.0,12/1/2009 9:28,4.95,12682.0,France
126,489444,POST,POSTAGE,1.0,12/1/2009 9:55,141.00,12636.0,USA
177,489450,22087,PAPER BUNTING WHITE LACE,12.0,12/1/2009 10:36,2.95,16321.0,Australia
178,489450,85206A,CREAM FELT EASTER EGG BASKET,6.0,12/1/2009 10:36,1.65,16321.0,Australia
179,489450,21895,POTTING SHED SOW 'N' GROW SET,4.0,12/1/2009 10:36,4.25,16321.0,Australia
514,489526,85049E,SCANDINAVIAN REDS RIBBONS,12.0,12/1/2009 11:50,1.25,12533.0,Germany
515,489526,21976,PACK OF 60 MUSHROOM CAKE CASES,24.0,12/1/2009 11:50,0.55,12533.0,Germany
516,489526,21498,NaN,25.0,12/1/2009 11:50,0.42,12533.0,Germany
1030,570467,22551,PLASTERS IN TIN SPACEBOY,12.0,10/10/2011 16:06,1.65,12607.0,USA
1031,570467,21915,RED HARMONICA IN BOX,12.0,10/10/2011 16:06,1.25,12607.0,USA
1121,553682,21731,RED TOADSTOOL LED NIGHT LIGHT,144.0,5/18/2011 13:20,1.45,14646.0,Netherlands
1122,553682,20712,JUMBO BAG WOODLAND ANIMALS,100.0,5/18/2011 13:20,1.79,14646.0,Netherlands
1123,553682,85099B,JUMBO BAG RED RETROSPOT,100.0,5/18/2011 13:20,1.79,14646.0,Netherlands

In [4]:
retail.groupby('Country').get_group('USA')
# retail.loc[retail.Country == 'USA']

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
126,489444,POST,POSTAGE,1.0,12/1/2009 9:55,141.00,12636.0,USA
1030,570467,22551,PLASTERS IN TIN SPACEBOY,12.0,10/10/2011 16:06,1.65,12607.0,USA
1031,570467,21915,RED HARMONICA IN BOX,12.0,10/10/2011 16:06,1.25,12607.0,USA
1032,570467,22619,SET OF 6 SOLDIER SKITTLES,4.0,10/10/2011 16:06,3.75,12607.0,USA
1033,570467,22138,BAKING SET 9 PIECE RETROSPOT,3.0,10/10/2011 16:06,4.95,12607.0,USA
...,...,...,...,...,...,...,...,...
1116,570467,23351,ROLL WRAP 50'S CHRISTMAS,12.0,10/10/2011 16:06,1.25,12607.0,USA
1117,570467,23354,6 GIFT TAGS 50'S CHRISTMAS,12.0,10/10/2011 16:06,0.83,12607.0,USA
1118,570467,23311,VINTAGE CHRISTMAS STOCKING,6.0,10/10/2011 16:06,2.55,12607.0,USA
1119,570467,23309,SET OF 60 I LOVE LONDON CAKE CASES,24.0,10/10/2011 16:06,0.55,12607.0,USA
1120,570467,23293,SET OF 12 FAIRY CAKE BAKING CASES,8.0,10/10/2011 16:06,0.83,12607.0,USA

### 3.1. GroupBy on single column

In [5]:
retail.groupby('Country').Price.mean()

Country
Australia         2.491888
France            2.685495
Germany           2.491786
Netherlands       3.476216
USA               3.515543
United Kingdom    2.833676
Name: Price, dtype: float64

In [6]:
retail.groupby('Country')['Price'].mean()

Country
Australia         2.491888
France            2.685495
Germany           2.491786
Netherlands       3.476216
USA               3.515543
United Kingdom    2.833676
Name: Price, dtype: float64

In [7]:
retail.groupby('Country')['Price'].mean().reset_index()

          Country     Price
0       Australia  2.491888
1          France  2.685495
2         Germany  2.491786
3     Netherlands  3.476216
4             USA  3.515543
5  United Kingdom  2.833676

In [8]:
retail.groupby(by = 'Country',as_index = False)['Price'].mean()

          Country     Price
0       Australia  2.491888
1          France  2.685495
2         Germany  2.491786
3     Netherlands  3.476216
4             USA  3.515543
5  United Kingdom  2.833676

In [9]:
retail.groupby('Country')['StockCode'].nunique().reset_index()

          Country  StockCode
0       Australia        341
1          France         90
2         Germany        230
3     Netherlands         94
4             USA         92
5  United Kingdom        554

In [10]:
retail.groupby('Country')['StockCode'].count().reset_index()

          Country  StockCode
0       Australia        507
1          France         91
2         Germany        423
3     Netherlands        111
4             USA         92
5  United Kingdom        848

### 3.2. GroupBy on multiple columns

In [11]:
retail.groupby(['Country','Description']).head(3)

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,NaN,12/1/2009 7:45,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12.0,12/1/2009 7:45,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,NaN,12/1/2009 7:45,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48.0,12/1/2009 7:45,NaN,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24.0,12/1/2009 7:45,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
2072,554325,23208,LUNCH BAG VINTAGE LEAF DESIGN,20.0,5/23/2011 15:38,1.65,12621.0,Germany
2073,554325,23209,LUNCH BAG DOILEY PATTERN,20.0,5/23/2011 15:38,1.65,12621.0,Germany
2075,554325,22908,PACK OF 20 NAPKINS RED APPLES,12.0,5/23/2011 15:38,0.85,12621.0,Germany
2078,554325,21559,STRAWBERRY LUNCH BOX WITH CUTLERY,12.0,5/23/2011 15:38,2.55,12621.0,Germany
2079,554325,79191C,RETRO PLASTIC ELEPHANT TRAY,12.0,5/23/2011 15:38,NaN,12621.0,Germany

In [14]:
retail.groupby(['Country','Description']).Quantity.sum()

Country         Description
Australia        DOLLY GIRL BEAKER                    200.0
                10 COLOUR SPACEBOY PEN                 48.0
                12 PENCILS TALL TUBE POSY             240.0
                16 PIECE CUTLERY SET PANTRY DESIGN     24.0
                3 STRIPEY MICE FELTCRAFT              121.0
                                                      ...
United Kingdom  YELLOW + BROWN BEAR FELT PURSE KIT     14.0
                YELLOW FLOWERS FELT HANDBAG KIT         5.0
                YELLOW PURPLE DAISY FELT PURSE KIT      3.0
                YELLOW RED FLOWER PIGGY BANK            1.0
                ZINC METAL HEART DECORATION            12.0
Name: Quantity, Length: 1410, dtype: float64

In [15]:
retail.groupby(['Country','Description']).Quantity.sum().reset_index()

             Country                         Description  Quantity
0          Australia                   DOLLY GIRL BEAKER     200.0
1          Australia              10 COLOUR SPACEBOY PEN      48.0
2          Australia           12 PENCILS TALL TUBE POSY     240.0
3          Australia  16 PIECE CUTLERY SET PANTRY DESIGN      24.0
4          Australia            3 STRIPEY MICE FELTCRAFT     121.0
...              ...                                 ...       ...
1405  United Kingdom  YELLOW + BROWN BEAR FELT PURSE KIT      14.0
1406  United Kingdom     YELLOW FLOWERS FELT HANDBAG KIT       5.0
1407  United Kingdom  YELLOW PURPLE DAISY FELT PURSE KIT       3.0
1408  United Kingdom        YELLOW RED FLOWER PIGGY BANK       1.0
1409  United Kingdom         ZINC METAL HEART DECORATION      12.0

[1410 rows x 3 columns]

In [17]:
retail.groupby(['Country','Description']).Price.max().reset_index()

             Country                         Description  Price
0          Australia                   DOLLY GIRL BEAKER   1.08
1          Australia              10 COLOUR SPACEBOY PEN   0.85
2          Australia           12 PENCILS TALL TUBE POSY   0.29
3          Australia  16 PIECE CUTLERY SET PANTRY DESIGN  12.50
4          Australia            3 STRIPEY MICE FELTCRAFT   1.95
...              ...                                 ...    ...
1405  United Kingdom  YELLOW + BROWN BEAR FELT PURSE KIT   1.25
1406  United Kingdom     YELLOW FLOWERS FELT HANDBAG KIT   2.10
1407  United Kingdom  YELLOW PURPLE DAISY FELT PURSE KIT   1.25
1408  United Kingdom        YELLOW RED FLOWER PIGGY BANK   4.65
1409  United Kingdom         ZINC METAL HEART DECORATION   1.25

[1410 rows x 3 columns]

### 3.3. Aggregation Function
<img src='Agg.jpg'  height="400px" width="600px" style = "float:left"/>

In [19]:
retail.groupby(
     ['Country','Description']
 ).agg(
     mean_price    = ('Price'   ,'mean'),  #np.mean
     min_price     = ('Price'   , 'min'),  #np.min
     max_price     = ('Price'   , 'max'),
     median_quant  = ('Quantity', 'median'), #np.median
     var_quant     = ('Quantity', 'var'),
     count_inv     = ('Invoice' , 'count')
 ).reset_index()

,Country,Description,mean_price,min_price,max_price,median_quant,var_quant,count_inv
0,Australia,DOLLY GIRL BEAKER,1.08,1.08,1.08,200.0,NaN,1
1,Australia,10 COLOUR SPACEBOY PEN,0.85,0.85,0.85,48.0,NaN,1
2,Australia,12 PENCILS TALL TUBE POSY,0.29,0.29,0.29,240.0,NaN,1
3,Australia,16 PIECE CUTLERY SET PANTRY DESIGN,12.50,12.50,12.50,24.0,NaN,1
4,Australia,3 STRIPEY MICE FELTCRAFT,1.80,1.65,1.95,60.5,7080.5,2
...,...,...,...,...,...,...,...,...
1405,United Kingdom,YELLOW + BROWN BEAR FELT PURSE KIT,1.25,1.25,1.25,7.0,50.0,2
1406,United Kingdom,YELLOW FLOWERS FELT HANDBAG KIT,2.10,2.10,2.10,5.0,NaN,1
1407,United Kingdom,YELLOW PURPLE DAISY FELT PURSE KIT,1.25,1.25,1.25,3.0,NaN,1
1408,United Kingdom,YELLOW RED FLOWER PIGGY BANK,4.65,4.65,4.65,1.0,NaN,1
1409,United Kingdom,ZINC METAL HEART DECORATION,1.25,1.25,1.25,12.0,NaN,1

In [20]:
retail.groupby(
     ['Country','Description']
 ).agg(
    {
      'Price'     :'mean',  
      'Quantity'  :'median', 
      'Quantity'  : 'var', 
      'Invoice'   : 'count' 
    }
).reset_index()

,Country,Description,Price,Quantity,Invoice
0,Australia,DOLLY GIRL BEAKER,1.08,NaN,1
1,Australia,10 COLOUR SPACEBOY PEN,0.85,NaN,1
2,Australia,12 PENCILS TALL TUBE POSY,0.29,NaN,1
3,Australia,16 PIECE CUTLERY SET PANTRY DESIGN,12.50,NaN,1
4,Australia,3 STRIPEY MICE FELTCRAFT,1.80,7080.5,2
...,...,...,...,...,...
1405,United Kingdom,YELLOW + BROWN BEAR FELT PURSE KIT,1.25,50.0,2
1406,United Kingdom,YELLOW FLOWERS FELT HANDBAG KIT,2.10,NaN,1
1407,United Kingdom,YELLOW PURPLE DAISY FELT PURSE KIT,1.25,NaN,1
1408,United Kingdom,YELLOW RED FLOWER PIGGY BANK,4.65,NaN,1
1409,United Kingdom,ZINC METAL HEART DECORATION,1.25,NaN,1

In [23]:
# Not Recommended
retail.groupby(
     ['Country','Description']
 ).agg(
    {
      'Price':'mean',  
      'Quantity':['median','var'], 
      'Invoice': 'count' 
    }
).reset_index()

             Country                         Description  Price Quantity  \
                                                           mean   median
0          Australia                   DOLLY GIRL BEAKER   1.08    200.0
1          Australia              10 COLOUR SPACEBOY PEN   0.85     48.0
2          Australia           12 PENCILS TALL TUBE POSY   0.29    240.0
3          Australia  16 PIECE CUTLERY SET PANTRY DESIGN  12.50     24.0
4          Australia            3 STRIPEY MICE FELTCRAFT   1.80     60.5
...              ...                                 ...    ...      ...
1405  United Kingdom  YELLOW + BROWN BEAR FELT PURSE KIT   1.25      7.0
1406  United Kingdom     YELLOW FLOWERS FELT HANDBAG KIT   2.10      5.0
1407  United Kingdom  YELLOW PURPLE DAISY FELT PURSE KIT   1.25      3.0
1408  United Kingdom        YELLOW RED FLOWER PIGGY BANK   4.65      1.0
1409  United Kingdom         ZINC METAL HEART DECORATION   1.25     12.0

             Invoice
         var   count
0        NaN       1
1        NaN       1
2        NaN       1
3        NaN       1
4     7080.5       2
...      ...     ...
1405    50.0       2
1406     NaN       1
1407     NaN       1
1408     NaN       1
1409     NaN       1

[1410 rows x 6 columns]

In [25]:
retail.groupby('Country')['Price'].agg([len, min, max]).reset_index()

          Country  len   min     max
0       Australia  507  0.19   14.95
1          France   91  0.29   18.00
2         Germany  423  0.21   39.95
3     Netherlands  111  0.42   15.00
4             USA   92  0.42  141.00
5  United Kingdom  848  0.19   19.95

In [26]:
retail.groupby('Country')['Price','Quantity'].agg([len,min,max])

C:\Users\DearUser\AppData\Local\Temp\ipykernel_6652\1292571412.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  retail.groupby('Country')['Price','Quantity'].agg([len,min,max])

               Price               Quantity
                 len   min     max      len  min    max
Country
Australia        507  0.19   14.95      507  1.0  600.0
France            91  0.29   18.00       91  1.0   48.0
Germany          423  0.21   39.95      423  1.0   60.0
Netherlands      111  0.42   15.00      111  1.0  960.0
USA               92  0.42  141.00       92  1.0   36.0
United Kingdom   848  0.19   19.95      848  1.0  800.0

In [27]:
a = retail.groupby('Country')[['Price','Quantity']].agg([len,min,max])
a

               Price               Quantity
                 len   min     max      len  min    max
Country
Australia        507  0.19   14.95      507  1.0  600.0
France            91  0.29   18.00       91  1.0   48.0
Germany          423  0.21   39.95      423  1.0   60.0
Netherlands      111  0.42   15.00      111  1.0  960.0
USA               92  0.42  141.00       92  1.0   36.0
United Kingdom   848  0.19   19.95      848  1.0  800.0

In [29]:
a['Price']['len'][0]

507

In [33]:
b = retail.groupby('Country')['Price'].agg([len,min,max])
b.sort_values(by='min', ascending=False)

                len   min     max
Country
Netherlands     111  0.42   15.00
USA              92  0.42  141.00
France           91  0.29   18.00
Germany         423  0.21   39.95
Australia       507  0.19   14.95
United Kingdom  848  0.19   19.95

In [32]:
b.sort_values(by=['min','len'], ascending = False)

                len   min     max
Country
Netherlands     111  0.42   15.00
USA              92  0.42  141.00
France           91  0.29   18.00
Germany         423  0.21   39.95
United Kingdom  848  0.19   19.95
Australia       507  0.19   14.95

### Aggregation Functions


|**Aggregation Function**	| **Description**| 
|:---|:---|
**count ()**	   |        Total number of items.  
**first () , last ()**|  	First and last item.  
**mean ()  , median ()**|	Mean and median.  
**min (), max ()**      |	Minimum and maximum.  
**std (), var ()**      |	Standard deviation and variance.  
**mad ()**             |	Mean absolute deviation.  
**prod ()**            |	Product of all items.  
**sum ()**             | Sum of all items